/* Designs Section */

.designs-section__content {
    padding: 0 9.1rem;
    margin-bottom: 14rem;
    position: relative;

    @media (max-width: 1200px) {
        padding: 5rem;
    }

    @media (max-width: 1100px) {
        margin-bottom: 2rem;
    }

    @media (max-width: 800px) {
        padding: 3rem;
    }
}

#designs-section .heading-3 {
    margin-bottom: 4.6rem;

    @media (max-width: 800px) {
        display: block;
        width: 100%;
        margin: 0 auto;
        margin-bottom: 5rem;
        font-size: 6rem;
        text-align: center;
    }
}

.arrows {
    position: absolute;
    top: 1.6rem;
    right: 9.1rem;

    @media (max-width: 800px) {
        display: none;
    }

    @media (max-width: 1200px) {
        top: 7rem;
        right: 5rem;
    }
}

.arrow-right,
.arrow-left {
    width: 2.5rem;
    height: 2rem;
}

.arrow-left {
    margin-right: 1.5rem;
}

.design-card {
    display: inline-block;
    vertical-align: top;
    object-fit: contain;
    width: calc((100% - 4rem) / 3);
}

#designs-section .design-card:not(:last-child) {
    margin-right: 2rem;
}

.design-img {
    height: 68rem;
    width: 100%;
    object-fit: cover;
    border-radius: 1.5rem;

    @media (max-width: 1100px) {
        height: 54rem;
    }
}

#design-last-card {
    position: relative;

    @media (max-width: 800px) {
        display: block;
        width: 100%;
        margin: 0 auto;
    }
}

.design-inner-card {
    padding: 2rem;
    width: 80%;
    height: 11.5rem;
    background-color: var(--white-color);
    border-radius: 1rem;
    box-shadow: 0rem 3.4rem 5rem 0rem rgba(0, 0, 0, 0.15);
    position: absolute;
    left: 1.6rem;
    bottom: 1.6rem;

    @media (max-width: 800px) {
        left: 3rem;
        bottom: 3rem;
    }
}

.design-inner-card span {
    color: var(--orange-color);
    font-size: 3.2rem;
    font-weight: 600;
    line-height: 4.2rem;

    @media (max-width: 1100px) {
        display: none;
    }
}

#inner-card-text {
    color: var(--text-color);
    font-size: 1.4rem;
    font-weight: 600;
    line-height: 2.2rem;
    letter-spacing: 0.4rem;
    text-transform: uppercase;
    margin-top: 1rem;
}

.design-inner-card img {
    position: absolute;
    width: 2rem;
    right: 2.4rem;
    bottom: 2.4rem;
}

.couch {
    @media (max-width: 800px) {
        height: 85rem;
    }
}

.chair-light,
.chair-dark {
    @media (max-width: 800px) {
        display: none;
    }
}
