/* Header */

#header {
    padding: 4.1rem 9.1rem;

    @media (max-width: 1200px) {
        padding: 5rem;
    }

    @media (max-width: 800px) {
        padding: 3rem;
    }
}
.logo {
    vertical-align: bottom;
    display: inline-block;

    width: 12rem;
}

.navigation {
    display: inline-block;
    width: calc(100% - 12rem);

    @media (max-width: 800px) {
        display: none;
    }
}

.navigation__links {
    width: 90%;
    display: inline-block;
    text-align: center;
    vertical-align: middle;
}

.navigation__links li {
    display: inline-block;
    cursor: pointer;
}

.navigation__links li:not(:last-child) {
    margin-right: 5rem;
}

.signIn_wrapper {
    display: inline-block;
    width: 10%;
    text-align: end;
    vertical-align: middle;
}

.navigation__links li a,
.navigation a {
    color: var(--text-color);
    font-size: 2.8rem;
    font-weight: 600;
    line-height: 3rem;
    vertical-align: top;

    @media (max-width: 1200px) {
        font-size: 2.4rem;
    }
}

#mobile-nav-icon {
    display: none;

    @media (max-width: 800px) {
        display: inline-block;
        position: absolute;
        right: 9rem;
    }
}

.close-icon {
    font-size: 6rem;
    color: #1d263a;
    position: absolute;
    left: auto;
    top: 4rem;
}

.mobile-nav {
    background-color: rgb(251, 245, 245);
    height: 100vw;
    width: 100vw;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 10;
    padding-left: 20rem;
    padding-top: 20rem;
    /* display: none; */
}

.mobile-nav_link {
    color: var(--text-color);
    font-size: 3.8rem;
    font-weight: 600;
    line-height: 3rem;
    text-align: left;
}

.mobile-nav_link li {
    margin-bottom: 5rem;
}
/* .showMenu {
    display: inline-block;
    background-color: aliceblue;
} */
